PROXY_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3ODI3MjgzODUsIm5iZiI6MTc4MjcyODM4NSwiZXhwIjoxNzk4NzI5MTk5LCJrZXlfaWQiOiIwNjk1YmM2Yy1hMjY0LTQzZDYtOTA3MC1hOGU1M2MxZGIzY2UifQ.AHz0OGGUTPOtTdKwJUCqhuy_sZpyGTs_Iq2t5JVZjqc
CHAT_PROXY_URL=https://mlapi.run/4bbd0c4d-bf02-4e59-a635-457b1c30c56a/v1
EMBEDDING_PROXY_URL=https://mlapi.run/b54ff33e-6d14-42df-93f9-0f1132160ee8/v1
OPENAI_MODEL=openai/gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=openai/text-embedding-3-small
KANANA_ACTIVE_WEEK=2
KANANA_USE_LLM=1
KANANA_LLM_ASSIST=1
